/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.slider {
  margin: 3rem;
  overflow: "hidden";
  padding: 2rem 0;
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(0, 0, 0);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(0, 0, 0) !important;
}

.title {
  font-size: 2rem;
  color: rgb(2, 0, 108);
  font-weight: 500;
}
