.intro {
    height: 100%;
    background-color: black;
    margin-top: -40px;
  }
  
  table td,
  table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  thead th {
    color: #fff;
  }
  
  .cardT {
    border-radius: .5rem;
  }
  
  .table-scroll {
    border-radius: .5rem;
  }
  
  .table-scroll table thead th {
    font-size: 1.25rem;
  }
  thead {
    top: 0;
    position: sticky;
  }